# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# Simulation outputs
*.out
*.log

# Large data files
*.fits
*.h5
*.hdf5
*.dat

# Virtual environments
venv/
.venv/

# IDE settings
.vscode/
.idea/
